.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
  border-bottom: 1px solid transparent;
}

.tooltip:hover {
  border-bottom-color: #1aaa8b;
  border-bottom: 2px solid #1aaa8b;
  color: rgba(127, 255, 212, 0.663);
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #333; /* Subtle grey background */
  color: #fff;
  text-align: center;
  border-radius: 8px; /* Rounded corners */
  padding: 8px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: 0.9em;
  left: 50%;
  transform: translateX(-50%) scale(0.95);
  border: 3px solid rgba(3, 121, 90, 0.9); /* Original border color retained */
  box-shadow: 0 0 4px rgba(3, 121, 90, 0.4); /* More subtle glow */
}

.tooltip .tooltip-text.top {
  bottom: 125%;
}

.tooltip .tooltip-text.bottom {
  top: 125%;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) scale(1); /* Tooltip scales up smoothly */
}

.icon-alert {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('./exclam white.png'); /* Your image path */
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4px;
  vertical-align: middle;
}
.darker {
  background-color: #0d797d44; /* Subtle grey background */
  
}
