/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.pin-list code {
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 5px;
}

.pin-entity {
  margin-top: 15px;
}

.pin-entity .path {
  background: var(--ifm-color-secondary-light);
  border-radius: var(--ifm-global-radius);
  padding: 5px 10px;
  color: var(--ifm-color-black);
}

.pin-entity .path .badge {
  margin-right: 6px;
}

.pin-entity .path .badge--secondary {
  background: var(--ifm-color-secondary-darker);
}

.pin-search {
  width: 30rem;
  max-width: 100%;
}