/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #1aaa8b;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #46cbae;
    --ifm-color-primary-lighter: #66d4bd;
    --ifm-color-primary-lightest: #92e0d0;
    --ifm-code-font-size: 95%;
}

.col[class*="col--"] {
    display: flex;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.pin-list code {
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 5px;
}

.pin-entity {
    margin-top: 15px;
}

.pin-entity .path {
    background: var(--ifm-color-secondary-light);
    border-radius: var(--ifm-global-radius);
    padding: 5px 10px;
    color: var(--ifm-color-black);
}

.pin-entity .path .badge {
    margin-right: 6px;
}

.pin-entity .path .badge--secondary {
    background: var(--ifm-color-secondary-darker);
}

.pin-search {
    width: 30rem;
    max-width: 100%;
}

[data-theme="dark"] .header-github-link::before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background: url("/media/github-mark-white.svg") no-repeat;
    background-size: 24px;
}

[data-theme="light"] .header-github-link::before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background: url("/media/github-mark.svg") no-repeat;
    background-size: 24px;
}

[data-theme="dark"] .trademark {
    font-size: 14px;
    color: #949494;
}

[data-theme="light"] .trademark {
    font-size: 14px;
    color: #5c5c5c;
}

[data-theme="dark"] #packagedefinitions {
    font-family: "Source Code Pro", monospace;
    color: #fff;
    font-size: 1em;
    background-color: #1f2125;
    border: 2px solid #05be99;
    width: 100%;
    height: 95%;
    margin-top: 15px;
}

[data-theme="dark"] #naming {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid black;
    background: #3ccccc;
}

[data-theme="dark"] #load {
    display: block;
    position: absolute;
    top: 70px;
    left: 6px;
}

[data-theme="dark"] #load span {
    color: #05be99;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #05be99;
    margin: 0 1em;
}

[data-theme="dark"] #load span:hover {
    background: #111111;
}

[data-theme="dark"] #save {
    display: block;
    position: absolute;
    top: 70px;
    left: 111px;
}

[data-theme="dark"] #save span {
    color: #05be99;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #05be99;
    margin: 0 1em;
}

[data-theme="dark"] #save span:hover {
    background: #111111;
}

[data-theme="dark"] .wrapper {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 90px;
    left: 15px;
    bottom: 15px;
    right: 15px;
}

[data-theme="dark"] .description {
    display: block;
    color: white;
    cursor: pointer;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
}

[data-theme="light"] #packagedefinitions {
    font-family: "Source Code Pro", monospace;
    color: #333;
    font-size: 1em;
    background-color: #fff;
    border: 2px solid #05be99;
    width: 100%;
    height: 95%;
    margin-top: 15px;
}

[data-theme="light"] #naming {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid black;
    background: #3ccccc;
}

[data-theme="light"] #load {
    display: block;
    position: absolute;
    top: 70px;
    left: 6px;
}

[data-theme="light"] #load span {
    color: #05be99;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #05be99;
    margin: 0 1em;
}

[data-theme="light"] #load span:hover {
    background: #f5f5f5;
}

[data-theme="light"] #save {
    display: block;
    position: absolute;
    top: 70px;
    left: 111px;
}

[data-theme="light"] #save span {
    color: #05be99;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #05be99;
    margin: 0 1em;
}

[data-theme="light"] #save span:hover {
    background: #f5f5f5;
}

[data-theme="light"] .wrapper {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 90px;
    left: 15px;
    bottom: 15px;
    right: 15px;
}

[data-theme="light"] .description {
    display: block;
    color: black;
    cursor: pointer;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
}
